{% set containerd_sock = 'unix:///run/containerd/containerd.sock' %}
{% set crio_sock = 'unix:///run/crio/crio.sock' %}
{% if 'containerd' == runtime %}
runtime-endpoint: {{ containerd_sock }}
image-endpoint: {{ containerd_sock }}
{% elif 'crio' == runtime %}
runtime-endpoint: {{ crio_sock }}
image-endpoint: {{ crio_sock }}
{% endif %}
timeout: 2
debug: false
