{
"exec-opts": ["native.cgroupdriver={{ cgroup_driver }}"],
"log-driver": "json-file",
"log-opts": {
  "max-size": "100m"
},
"storage-driver": "overlay2",
"storage-opts": [
  "overlay2.override_kernel_check=true"
],
"mtu": {{ MTU | default(ansible_default_ipv4.mtu) }}
{% if (registry_mirrors is defined) and registry_mirrors -%},
"registry-mirrors": [ {{ registry_mirrors|map("to_json")|join(", ") }} ]
{% endif %}
}
