[Unit]
Description=NAT Service
After=network-online.target NetworkManager.service
Wants=network-online.target NetworkManager.service

[Service]
ExecStart=/usr/local/bin/ip-forwarder.sh {{ private_interface_output.stdout }} {{ public_interface_output.stdout }}
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
